*{
    background-color: rgb(18, 34, 48);
    padding: 0%;
    margin: 0%;
}

header{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    display: flex;
    width: 100%;
   
    justify-content: space-between;
}


h3{
    margin-top: 5px;
}
p{
    margin-top: 10px;
}
nav ul li {
    display: inline-block;
   margin-left: 20px;

}
a{
    color: white;
    text-decoration: none;
}


.main{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    align-items:start;
}
img{
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    

    

}
button{
    margin-top: 30px;
  
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(13, 52, 67);
}


